a {
    font-family: 'Roboto', sans-serif;
    color: gray
}

.nav-container {
    display: float;
    padding-bottom: 120px;
}

/* begin left nav */
.left-nav { 
    display: flex;
    float: left;
}

.about {
    margin: 10px;
    font-size: 12px;
    
    color: #242526;
}

.store {
    display: flex;
    margin-left: 1em;
    margin-top: 10px;

    font-size: 12px;

    color: #242526;
    

}

/* End left nav */

/* begin right nav */
.right-nav {
    display: flex;
    float: right;

    padding-right: 2em;
}

.gmail {
    display: flex;

    font-size: 12px;
    color: #242526;

    margin-top: 10px;
    margin-right: 15px;
}

.images {
    display: flex;

    font-size: 12px;
    color: #242526;

    margin-top: 10px;
    margin-right: 15px;
}

.google-apps {
    padding-top: 5px;
    padding-right: 10px;
}


.sign-in {
    color: white;
    background: #2d88df;

    border-radius: 2px;
    border: transparent;

    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    padding-left: 10px;
    padding-right: 10px;
}

/* End right nav */

.googleLogo {
    display: flex;
    justify-content: center;

    padding-bottom: 30px;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
}

.searchBar {
    display: flex;
    justify-content: center;

    height: 40px;
    
    background: gray;

    border-radius: 20px;
}



#googleSearchBar {
    border-radius: 25px;

    width: 40em;
    height: 40px;

    border: 1px solid;
    border-color: #D3D3D3;

    margin-bottom: 25px;


}


.buttons {
    font-family: 'Roboto', sans-serif;
    
    display: flex;
    justify-content: center;
}


#googleSearchButton {
    border-radius: 4px;
    border: transparent;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;

    height: 30px;
    width: 125px;

    color: #616161
    
}

#googleSearchButton:hover {
    color: #242526;
    border: 1px solid #AAAAAA;
}

#IFLbutton {
    border-radius: 4px;
    border: transparent;

    margin-left: 10px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #616161;

    height: 30px;
    width: 125px;

}

#IFLbutton:hover {
    color: #242526;
    border: 1px solid #AAAAAA;

    /* font-family: */
}

/* begin footer */


.left-foot {
    display: flex;
    float: left;
}

.right-foot {
    display: flex;
    float: right;
}